@keyframes slideInFromTop {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

.cart-items-container {
  background-color: white;
  padding: 10px;
  color: black;
  position: fixed;
  width: 25%;
  top: 85px;
  right: 1%;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
  animation: 0.1s ease-out 0s 1 slideInFromTop;
}

.cart-item-img {
  width: 60px;
  height: 60px;
  width: auto;
  max-width: 60px;
  max-height: 60px;
  border-radius: 5%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.cart-left-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.cart-left-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.unit-icon {
  color: rgb(153, 31, 51);
  font-size: 1.6em;
}
.unit-icon:hover {
  cursor: pointer !important;
  color: rgb(255, 174, 0);
}

.item-units {
  box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
  padding: 3px;
  border-radius: 20%;
}

.cart-units-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

.total-price {
  text-align: right;
  font-size: 1.2em;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-price-tag {
  background-color: rgb(153, 31, 51);
  color: white;
  padding: 9px;
  border-radius: 3px;
}

.personal-data-form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.personal-data-form input {
  margin: 5px;
  border-radius: 5px;
  height: 18px;
}
.personal-data-form label {
  font-weight: bold;
  font-size: 1.1em;
}
.form-footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.personal-data-form input {
  border: solid 1px grey;
  height: 25px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.personal-data-form input::placeholder {
  color: #8a9ba3;
}
.personal-data-form input:focus {
  outline: none;
  box-shadow: 0rem 0rem 0.4rem rgb(153, 31, 51);
}

.personal-data-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
}

.colright {
  margin-left: auto;
}

.colleft {
  margin-right: auto;
}

@media (max-width: 1550px) {
  .cart-items-container {
    width: 40%;
  }
}

@media (max-width: 1350px) {
  .cart-items-container {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .cart-items-container {
    width: 90%;
    margin: auto;
    right: 2.5%;
  }
}
