@keyframes slideInFromTop {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

.cart-items-container {
  background-color: white;
  padding: 10px;
  color: black;
  position: fixed;
  width: 25%;
  top: 85px;
  right: 1%;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
  animation: 0.1s ease-out 0s 1 slideInFromTop;
}

.cart-item-img {
  width: 60px;
  height: 60px;
  width: auto;
  max-width: 60px;
  max-height: 60px;
  border-radius: 5%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.cart-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.unit-icon {
  color: rgb(153, 31, 51);
  font-size: 1.6em;
}
.unit-icon:hover {
  cursor: pointer !important;
  color: rgb(255, 174, 0);
}

.cart-units-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

.total-price {
  text-align: right;
  font-size: 1.2em;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.total-price-tag {
  background-color: rgb(153, 31, 51);
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.total-price-confirm {
  background-color: rgb(38, 143, 91);
  color: white;
  padding: 5px;
  border-radius: 10px;
}

@media (max-width: 1550px) {
  .cart-items-container {
    width: 40%;
  }
}

@media (max-width: 1350px) {
  .cart-items-container {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .cart-items-container {
    width: 90%;
    margin: auto;
    right: 2.5%;
  }
}
