.meal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.6em;
}

.meals {
  padding: 20px;
  width: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (max-width: 800px) {
  .meal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
