body {
  font-family: "Roboto", sans-serif;
}

.unselectable {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-pay {
  background-color: rgb(38, 143, 91);
  color: white;
  padding: 9px;
  border-radius: 25px;
  border: solid 1px white;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-pay:hover {
  cursor: pointer !important;
  color: rgb(38, 143, 91);
  border: solid 1px rgb(38, 143, 91);
  background-color: white;
}

.button-confirm {
  background-color: rgb(38, 143, 91);
  color: white;
  padding: 9px;
  border-radius: 25px;
  border: solid 1px white;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-confirm:hover {
  cursor: pointer !important;
  color: rgb(38, 143, 91);
  border: solid 1px rgb(38, 143, 91);
  background-color: white;
}

.button-cancel {
  background-color: rgb(211, 16, 16);
  color: white;
  padding: 9px;
  border-radius: 3px;
  border: solid 1px white;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button-cancel:hover {
  cursor: pointer !important;
  color: rgb(211, 16, 16);
  border: solid 1px rgb(211, 16, 16);
  background-color: white;
}
